body{
margin: 0;
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
transition: .3s;
}
.label{
    position: absolute;
    border-radius: 20px ;
    width: 80px;
    height: 40px;
    background-color: grey;
    cursor: pointer;
}
.input{
    visibility: hidden;
}
.circle{
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    bottom: 3px;
    position: absolute;
    left: 3px;
 animation: toggle-off 0.3s linear forwards  ;
}
.input:checked + .label {
    background-color:rgb(21, 17, 17);
} 
.input:checked + .label .circle{
    animation: toggle-on .3s linear forwards;
}
@keyframes toggle-on {
    0%{
        transform: translateX(0);
    }
    100%{
transform: translateX(40px);
    }
    
}
@keyframes toggle-off {
    0%{
        transform: translateX(40px);
    }
    100%{
transform: translateX(0px);
    }
    
}